{% extends 'base.html' %}

{% block title %}Pokemon TCG Search{% endblock %}

{% block content %}

<div class="mt-5">
    <div class="col text-center">
        <h1 class="fw-bold">Pokemon TCG Search</h1>
        <p class="fs-5">The Ultimate Pokemon Card Database</p>
    </div>

    <form action="/cards">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for a card" aria-label="Card Search"
                aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="button" id="button-addon2"><span class="fa fa-search"></span></button>
        </div>
    </form>
</div>
{% endblock %}