body {
	background-color: rgb(24, 30, 39);
	color: rgb(208, 220, 230);
}

#navbar-profile-img {
	height: 27px;
	width: 27px;
	border-radius: 25em;
	margin-left: 0.25em;
	margin-right: 1em;
}

#profile-avatar {
	height: 175px;
	width: 175px;
	border-radius: 10px;
}

#number-favorites {
	font-size: 20px;
	margin-top: -20px;
}
