body {
	background-color: rgb(24, 30, 39);
	color: rgb(208, 220, 230);
	height: 100vh;
	margin: 0;
}

#page-container {
	position: relative;
	min-height: 70vh;
}

#footer {
	margin-top: auto;
	height: 150px;
}

.navbar-brand > img {
	display: inline-block;
	margin-right: 2px;
	margin-top: -8px;
	width: 45px;
	height: 45px;
}

#navbar-profile-img {
	height: 27px;
	width: 27px;
	border-radius: 25em;
	margin-left: 0.25em;
	margin-right: 1em;
}

#profile-avatar {
	height: 175px;
	width: 175px;
	border-radius: 10px;
}

#number-favorites {
	font-size: 20px;
	margin-top: -20px;
}

#edit-fields {
	margin-bottom: -6px;
	margin-top: 15px;
}

#profile-edit-btn {
	width: 100px;
}

#profile-delete-btn {
	width: 100px;
}

.homepage-card {
	transition: margin 0.2s ease-in-out;
	width: 200px;
	height: 275px;
}

.homepage-card:hover {
	margin-top: -35px;
}

.pokemon-card-search-image {
	transition: all 0.2s ease-in-out;
	border-radius: 8px;
	width: 235px;
	height: 310px;
}

.pokemon-card-search-image:hover {
	transform: scale(1.1);
}
