body {
	background-color: rgb(24, 30, 39);
	color: rgb(208, 220, 230);
	height: 100vh;
	margin: 0;
}

#navbar-profile-img {
	height: 27px;
	width: 27px;
	border-radius: 25em;
	margin-left: 0.25em;
	margin-right: 1em;
}

#profile-avatar {
	height: 175px;
	width: 175px;
	border-radius: 10px;
}

#number-favorites {
	font-size: 20px;
	margin-top: -20px;
}

#edit-fields {
	margin-bottom: -6px;
	margin-top: 15px;
}

#page-container {
	position: relative;
	min-height: 70vh;
}

#footer {
	margin-top: auto;
}
