{% extends 'base.html' %}

{% block title %}{{card['data']['name']}}{% endblock %}

{% block content %}
<div class="container-fluid" id="card-detail-container">
    <div class="row mx-auto justify-content-center">
        <!-- Card Image -->
        <div class="mt-4 col-sm-10 col-md-8 col-lg-5">
            <img src="{{card['data']['images']['large']}}" id="card-detail-img" class="img-fluid mx-auto d-block" alt="">
            <!-- Favorite Button -->
            <form method="POST" action="/cards/{{ card['data']['id'] }}/favorite" id="favorite-card-form">
                <button 
                    class="btn btn-sm mx-auto d-block mt-4 {{'btn-danger' if card['data']['id'] in favorites else 'btn-info'}}">
                    <i class="fa-solid fa-star"></i> 
                    {{'Remove Favorite' if card['data']['id'] in favorites else 'Add Favorite'}}
                </button>
            </form>
        </div>

        <div class="col col-sm-11 col-md-11 col-lg-7 mt-3">
            <div class="row">
                <!-- Card Name & Type -->
                <div class="col-12 col-sm-9 col-md-9">
                    <h2>{{card['data']['name']}}</h2>
                    {% if card['data']['subtypes'] %}
                    <p>{{card['data']['supertype']}} - {{card['data']['subtypes'][0]}}</p>
                    {% endif%}
                </div>
                <!-- Health Points 'HP' -->
                {% if card['data']['hp'] %}
                <div class="col-4 col-sm-3 col-md-3 col-lg-3 mt-3">
                    <p class="fw-bold">HP {{card['data']['hp']}}
                        {% if card['data']['types'] %}
                        {% for type in card['data']['types'] %}
                        <span>
                            <img id="hp-symbol" src="
                            {% if type == 'Darkness' %} /static/images/Energy/darkness.png
                            {% elif type == 'Colorless' %} /static/images/Energy/colorless.png
                            {% elif type == 'Dragon' %} /static/images/Energy/dragon.png
                            {% elif type == 'Fairy' %} /static/images/Energy/fairy.png
                            {% elif type == 'Fighting' %} /static/images/Energy/fighting.png
                            {% elif type == 'Fire' %} /static/images/Energy/fire.png
                            {% elif type == 'Grass' %} /static/images/Energy/grass.png
                            {% elif type == 'Lightning' %} /static/images/Energy/lightning.png
                            {% elif type == 'Psychic' %} /static/images/Energy/psychic.png
                            {% elif type == 'Water' %} /static/images/Energy/water.png
                            {% elif type == 'Metal' %} /static/images/Energy/metal.png
                            {% endif %}
                            " alt="hp-symbol">
                        </span>
                        {% endfor%}
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div>

            <hr class="hr">
            
            <!-- Card Pricing -->
            <div class="row">
                {% if card['data']['tcgplayer'] %}
                    <h5> Prices <span id="tcgplayer"> via <a href="{{card['data']['tcgplayer']['url']}}">TCG Player</a></span></h5>
                    {% if card['data']['tcgplayer']['prices']['holofoil'] %}

                    <small class="mb-2">Updated {{card['data']['tcgplayer']['updatedAt']}}</small>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2">
                        <small class="fw-bold">Market Price</small>
                        <p id="market-price">${{card['data']['tcgplayer']['prices']['holofoil']['market']}}</p>
                    </div>
                    
                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2">
                        <small class="fw-bold">Low</small>
                        <p id="low-price">${{card['data']['tcgplayer']['prices']['holofoil']['low']}}</p>
                    </div>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2">
                        <small class="fw-bold">Mid</small>
                        <p id="mid-price">${{card['data']['tcgplayer']['prices']['holofoil']['mid']}}</p>
                    </div>

                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 mt-2">
                        <small class="fw-bold">High</small>
                        <p id="high-price">${{card['data']['tcgplayer']['prices']['holofoil']['high']}}</p>
                    </div>
                    {% else %}
                    <p>N/A</p>
                    {% endif %}
                {% endif %}
            </div>

            <hr class="hr">
            
            <!-- Card Details -->
            <div class="row">
                <div class="row">
                    <div class="col-11 col-sm-10 col-md-9 col-lg-9">
                        {% if card['data']['abilities'] %}
                        <small class="fw-bold">Ability</small>
                        <h6 class="fw-bold mt-3"> {{card['data']['abilities'][0]['name']}}</h6>
                        <p> {{card['data']['abilities'][0]['text']}}</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Attacks -->
                {% if card['data']['attacks']%}
                <small class="fw-bold mt-3">Attacks</small>
                    {% if card['data']['attacks'][0] %}
                    <div class="row mt-3">
                        <div class="col">
                            {% for type in card['data']['attacks'][0]['cost'] %}
                            <span><img id="attack-cost-symbol" src="
                                {% if type == 'Darkness' %} /static/images/Energy/darkness.png
                                {% elif type == 'Colorless' %} /static/images/Energy/colorless.png
                                {% elif type == 'Dragon' %} /static/images/Energy/dragon.png
                                {% elif type == 'Fairy' %} /static/images/Energy/fairy.png
                                {% elif type == 'Fighting' %} /static/images/Energy/fighting.png
                                {% elif type == 'Fire' %} /static/images/Energy/fire.png
                                {% elif type == 'Grass' %} /static/images/Energy/grass.png
                                {% elif type == 'Lightning' %} /static/images/Energy/lightning.png
                                {% elif type == 'Psychic' %} /static/images/Energy/psychic.png
                                {% elif type == 'Water' %} /static/images/Energy/water.png
                                {% elif type == 'Metal' %} /static/images/Energy/metal.png
                                {% endif %}
                            " alt="">
                            {% endfor %}
                            </span>
                            <span class="fw-bold ms-3">  {{card['data']['attacks'][0]['name']}}</span>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <h5 class="fw-bold">{{card['data']['attacks'][0]['damage']}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11 col-sm-10 col-md-9 col-lg-9">
                            <p>{{card['data']['attacks'][0]['text']}}</p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if card['data']['attacks'][1] %}
                    <div class="row mt-2">
                        <div class="col">
                            {% for type in card['data']['attacks'][1]['cost'] %}
                            <span><img id="attack-cost-symbol" src="
                                {% if type == 'Darkness' %} /static/images/Energy/darkness.png
                                {% elif type == 'Colorless' %} /static/images/Energy/colorless.png
                                {% elif type == 'Dragon' %} /static/images/Energy/dragon.png
                                {% elif type == 'Fairy' %} /static/images/Energy/fairy.png
                                {% elif type == 'Fighting' %} /static/images/Energy/fighting.png
                                {% elif type == 'Fire' %} /static/images/Energy/fire.png
                                {% elif type == 'Grass' %} /static/images/Energy/grass.png
                                {% elif type == 'Lightning' %} /static/images/Energy/lightning.png
                                {% elif type == 'Psychic' %} /static/images/Energy/psychic.png
                                {% elif type == 'Water' %} /static/images/Energy/water.png
                                {% elif type == 'Metal' %} /static/images/Energy/metal.png
                                {% endif %}
                            " alt="">
                                {% endfor %}
                            </span>
                            <span class="fw-bold ms-3">{{card['data']['attacks'][1]['name']}}</span>
                        </div>
                        <div class="col-2 col-md-2 col-lg-2">
                            <h5 class="fw-bold">{{card['data']['attacks'][1]['damage']}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11 col-sm-10 col-md-9 col-lg-9">
                            <p>{{card['data']['attacks'][1]['text']}}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% endif %}
                    <!-- Rules -->
                    {% if card['data']['rules']%}
                    <div class = "row mt-3">
                        <div class="col-11 col-sm-10 col-md-9 col-lg-9">
                            <small class="fw-bold">Rules</small>
                            <p class="mt-2">{{card['data']['rules'][0]}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Weaknesses -->
                    <div class="row mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-5">
                            {% if card['data']['weaknesses'] %}
                            <small class="fw-bold">Weaknesses</small>
                            <p>
                                <img id="weakness-symbol" src="
                                    {% if card['data']['weaknesses'][0]['type'] == 'Darkness' %} /static/images/Energy/darkness.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Colorless' %} /static/images/Energy/colorless.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Dragon' %} /static/images/Energy/dragon.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Fairy' %} /static/images/Energy/fairy.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Fighting' %} /static/images/Energy/fighting.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Fire' %} /static/images/Energy/fire.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Grass' %} /static/images/Energy/grass.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Lightning' %} /static/images/Energy/lightning.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Psychic' %} /static/images/Energy/psychic.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Water' %} /static/images/Energy/water.png
                                    {% elif card['data']['weaknesses'][0]['type'] == 'Metal' %} /static/images/Energy/metal.png
                                    {% endif %}        
                                " alt="weakness-symbol">
                                {{card['data']['weaknesses'][0]['value']}}
                            </p>
                            {% endif %}
                        </div>
                        <!-- Retreat Cost -->
                        <div class="col-6 col-sm-6 col-md-6 col-lg-5">
                            {% if card['data']['retreatCost'] %}
                            <small class="fw-bold">Retreat Cost</small>
                            <p>
                                {% for trait in card['data']['retreatCost'] %}
                                <span>
                                    <img id="retreat-cost-symbol" src="
                                    {% if trait == 'Colorless' %}/static/images/Energy/colorless.png
                                    {% elif trait == 'Darkness' %}/static/images/Energy/darkness.png
                                    {% elif trait == 'Dragon' %}/static/images/Energy/dragon.png
                                    {% elif trait == 'Fairy' %}/static/images/Energy/fairy.png
                                    {% elif trait == 'Fighting' %}/static/images/Energy/fire.png
                                    {% elif trait == 'Grass' %}/static/images/Energy/grass.png
                                    {% elif trait == 'Fire' %}/static/images/Energy/fire.png
                                    {% elif trait == 'Lightning' %}/static/images/Energy/lightning.png
                                    {% elif trait == 'Metal' %}/static/images/Energy/metal.png
                                    {% elif trait == 'Psychic' %}/static/images/Energy/psychic.png
                                    {% elif trait == 'Water' %}/static/images/Energy/water.png
                                    {% endif %}
                                    " alt="retreat-cost-symbol">
                                </span>
                                {% endfor %}
                            {% endif %}
                            </p>
                        </div>
                    </div>
            </div>
            <hr class="hr">
            <!-- Other card details -->
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Artist</small>
                    <p> {{card['data']['artist']}} </p>
                </div>
                
                {% if card['data']['nationalPokedexNumbers'] %}
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Pokedex Number</small>
                    <p>{{card['data']['nationalPokedexNumbers'][0]}} </p>
                </div>
                {% endif %}

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Rarity</small>
                    <p>{{card['data']['rarity']}} </p>
                </div>
            </div>
            
            <div class="row mt-2 mb-5">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Set</small>
                    <p> {{card['data']['set']['name']}}
                        
                    {% if card['data']['set']['images']['symbol'] %}
                    <span><img id="set-symbol" src="{{card['data']['set']['images']['symbol']}}" alt=""></span>
                    {% endif %}
            
                    </p>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Number</small>
                    <p>{{card['data']['number']}} / {{card['data']['set']['total']}}</p>
                </div>

                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                    <small class="fw-bold">Release Date</small>
                    <p>{{card['data']['set']['releaseDate']}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}