{% extends 'base.html' %}

{% block title %}{{card['data']['name']}}{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">

        <!-- Card Image -->
        <div class="col-4 text-center mt-4">
            <img src="{{card['data']['images']['large']}}" id="card-detail-img" alt="">
        </div>

        <!-- Card Details -->
        <div class="col mt-3">
            <!-- Card Name + Type -->
            <div class="row">
                
                <div class="col">
                    <h2>{{card['data']['name']}}</h2>
                    <p>{{card['data']['supertype']}} - {{card['data']['subtypes'][0]}}</p>
                </div>
                <!-- Health Points 'HP' -->
                {% if card['data']['hp'] %}
                <div class="col-6 mt-3">
                    <p class="fw-bold">HP {{card['data']['hp']}}
                        <span>
                            {% if card['data']['types'] %}
                            <img id="hp-symbol" src="
                            {% if card['data']['types'][0] == 'Darkness' %}
                            /static/images/Energy/darkness.png

                            {% elif card['data']['types'][0] == 'Colorless' %}
                            /static/images/Energy/colorless.png

                            {% elif card['data']['types'][0] == 'Darkness' %}
                            /static/images/Energy/darkness.png

                            {% elif card['data']['types'][0] == 'Dragon' %}
                            /static/images/Energy/dragon.png

                            {% elif card['data']['types'][0] == 'Fairy' %}
                            /static/images/Energy/fairy.png

                            {% elif card['data']['types'][0] == 'Fighting' %}
                            /static/images/Energy/fighting.png

                            {% elif card['data']['types'][0] == 'Fire' %}
                            /static/images/Energy/fire.png

                            {% elif card['data']['types'][0] == 'Grass' %}
                            /static/images/Energy/grass.png

                            {% elif card['data']['types'][0] == 'Lightning' %}
                            /static/images/Energy/lightning.png

                            {% elif card['data']['types'][0] == 'Psychic' %}
                            /static/images/Energy/psychic.png

                            {% elif card['data']['types'][0] == 'Water' %}
                            /static/images/Energy/water.png

                            {% elif card['data']['types'][0] == 'Metal' %}
                            /static/images/Energy/metal.png

                            {% endif %}
                            " alt="">

                            {% endif %}
                        </span>
                    </p>
                </div>
                {% endif %}
            </div>

            <hr>

            <!-- Card Pricing -->
            <div class="row">
                {% if card['data']['tcgplayer'] %}
                <h5>Prices   <span id="tcgplayer">  via <a href="{{card['data']['tcgplayer']['url']}}">TCG Player</a></span></h5>
                {% if card['data']['tcgplayer']['prices']['holofoil'] %}

                <small class="mb-2">Updated {{card['data']['tcgplayer']['updatedAt']}}</small>

                <div class="col-2 mt-2">
                    <small class="fw-bold">Market Price</small>
                    <p id="market-price">${{card['data']['tcgplayer']['prices']['holofoil']['market']}}</p>
                </div>
                <div class="col-2 mt-2">
                    <small class="fw-bold">Low</small>
                    <p id="low-price">${{card['data']['tcgplayer']['prices']['holofoil']['low']}}</p>
                </div>

                <div class="col-2 mt-2">
                    <small class="fw-bold">Mid</small>
                    <p id="mid-price">${{card['data']['tcgplayer']['prices']['holofoil']['mid']}}</p>
                </div>

                <div class="col-2 mt-2">
                    <small class="fw-bold">High</small>
                    <p id="high-price">${{card['data']['tcgplayer']['prices']['holofoil']['high']}}</p>
                </div>
                {% else %}
                <p>N/A</p>
                {% endif %}
                {% endif %}
            </div>
            

            <hr>
            
            <div class="row">
                <div class="row">
                    <div class="col-7">
                    {% if card['data']['abilities'] %}
                    <small class="fw-bold">Ability</small>
                    <h6 class="fw-bold mt-3"> {{card['data']['abilities'][0]['name']}}</h6>
                    <p> {{card['data']['abilities'][0]['text']}}</p>
                    {% endif %}
                    </div>
                </div>
                <!-- Card Attacks -->
                {% if card['data']['attacks']%}
                <small class="fw-bold mt-3">Attacks</small>
                    {% if card['data']['attacks'][0] %}
                    <div class="row mt-3">
                        <div class="col">
                            <h6 class="fw-bold">{{card['data']['attacks'][0]['name']}}</h6>
                        </div>
                        <div class="col-6">
                            <h5 class="fw-bold">{{card['data']['attacks'][0]['damage']}}</h5>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>{{card['data']['attacks'][0]['text']}}</p>
                        </div>
                    </div>
                    {% endif %}
                    
                    {% if card['data']['attacks'][1] %}
                    <div class="row mt-3">
                        <div class="col">
                            <h6 class="fw-bold">{{card['data']['attacks'][1]['name']}}</h6>
                        </div>
                        <div class="col-6">
                            <h5 class="fw-bold">{{card['data']['attacks'][1]['damage']}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <p>{{card['data']['attacks'][1]['text']}}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% elif card['data']['rules']%}
                    <div class="row">
                        <small class="fw-bold">Rules</small>
                        <p>{{card['data']['rules'][0]}}</p>
                    </div>
                    {% endif %}
                

                    {% if card['data']['rules']%}
                    <div class = "row mt-3">
                        <div class="col-7">
                            <small class="fw-bold">Rules</small>
                            <p>{{card['data']['rules'][0]}}</p>
                        </div>
                    </div>
                    {% endif %}

                    
                    <div class="row mt-2">
                        <div class="col-4">
                            {% if card['data']['weaknesses'] %}
                            <small class="fw-bold">Weaknesses</small>
                            <p>{{card['data']['weaknesses'][0]['type']}} {{card['data']['weaknesses'][0]['value']}}</p>
                            {% endif %}
                        </div>

                        <div class="col-4">
                            {% if card['data']['retreatCost'] %}
                            <small class="fw-bold">Retreat Cost</small>
                            <p>{{card['data']['retreatCost'][0]}}</p>
                            {% endif %}
                        </div>
                    </div>
           
            

            <hr>

            <!-- Other card details -->
            <div class="row">
                <div class="col-3">
                    <small class="fw-bold">Artist</small>
                    <p> {{card['data']['artist']}} </p>
                </div>
                
                {% if card['data']['nationalPokedexNumbers'] %}
                <div class="col-3">
                    <small class="fw-bold">Pokedex Number</small>
                    <p>{{card['data']['nationalPokedexNumbers'][0]}} </p>
                </div>
                {% endif %}

                <div class="col-3">
                    <small class="fw-bold">Rarity</small>
                    <p>{{card['data']['rarity']}} </p>
                </div>
            </div>
            <hr>
            <div class="row mt-3 mb-3">
                <div class="col-3">
                    <small class="fw-bold">Set</small>
                    <p> {{card['data']['set']['name']}}
                        
                    {% if card['data']['set']['images']['symbol'] %}
                    <span><img id="set-symbol" src="{{card['data']['set']['images']['symbol']}}" alt=""></span>
                    {% endif %}
            
                    </p>
                </div>

                <div class="col-3">
                    <small class="fw-bold">Number</small>
                    <p>{{card['data']['number']}} / {{card['data']['set']['total']}}</p>
                </div>

                <div class="col-3">
                    <small class="fw-bold">Release Date</small>
                    <p>{{card['data']['set']['releaseDate']}}</p>
                </div>
            
            </div>
            <hr class="mb-5"> 
        </div>
    </div>
</div>
{% endblock %}