{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row text-center mt-4">
        {% for card in cards['data'] %}
        <div class="col-2 me-3 ms-4">
            <a href="/cards/{{card['id']}}">
            <img class="mb-4 pokemon-card-search-image" src="{{ card['images']['small'] }}" alt="{{ card['name'] }} card image">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}